* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 180px;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    perspective: 1000px;
}


.top-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 96px;
    padding: 36px;
}

.top-button {
    position: absolute;
    top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}

.top-button-image {
    width: 24px;
    height: 24px;
}

#night {
    left: 36px;
}

#me {
    right: 96px;
    z-index: 18;
}

#apps {
    right: 36px;
    z-index: 20;
}

.me-card,
.apps-card {
    position: absolute;
    top: 28px;

    width: 40px;
    height: 40px;
    padding: 0 8px;

    opacity: 0;
    border-radius: 8px;
    background-color: white;
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.me-card {
    right: 88px;
    z-index: 17;
}

.apps-card {
    right: 28px;
    z-index: 19;
}

.me-card-title,
.apps-card-title {
    position: relative;
    display: none;
    align-items: center;

    width: 92px;
    height: 40px;
    padding: 8px;

    text-align: center;
    font-size: 18px;
    font-family: "Barlow-Bold", Courier, 'Courier New', monospace;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.me-card-item,
.apps-card-item {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

    width: 92px;
    height: 48px;
    font-family: "Barlow-Light", Courier, 'Courier New', monospace;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.me-card-item:hover,
.apps-card-item:hover,
.me-card-item:active,
.apps-card-item:active {
    background-color: rgba(224, 224, 224, 1);
}

.card-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}

.center-card {
    position: absolute;
    top: 38vh;
    left: 15%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    min-height: 62vh;

    background-color: white;
    /* box-shadow: 0 0 48px rgba(224, 224, 224, 1); */
    border: solid 16px white;
    border-radius: 24px 24px 0 0;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    /* animation: top-change 1.5s ease-in-out; */
}

.time-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 24px 36px;

    opacity: 0;
    text-align: left;
    font-size: 36px;
    font-family: "Barlow-Bold", Consolas, 'Courier New', Courier, monospace;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 0;
    height: 100%;

    box-shadow: inset 0px 0 24px rgba(224, 224, 224, 1);
    border-radius: 12px 0 0 0;
    background-color: rgba(255, 255, 0, 1);
    transition: all 3s cubic-bezier(.25, .8, .25, 1);
}

.main-text {
    z-index: 1;

    border-radius: inherit;
    color: rgba(238, 238, 238, 1);
    font-size: 150px;
    font-family: "Barlow-Bold", Consolas, 'Courier New', Courier, monospace;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.percent-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    padding: 24px 48px;

    opacity: 0;
    text-align: right;
    font-size: 60px;
    font-family: "Barlow-Bold", Consolas, 'Courier New', Courier, monospace;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
}

hr {
    height: 1px;
    background-color: rgba(224, 224, 224, 1);
    border: 0;
}

.center-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 150px;
    font-family: "Barlow-Bold", Courier, 'Courier New', monospace;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.error-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 48px;
    font-family: "Barlow-Bold", Courier, 'Courier New', monospace;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}


.bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 96px;
    padding: 36px;
}

.bottom-bar-title {
    position: absolute;
    left: 36px;
    bottom: 28px;

    border-radius: 4px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    cursor: pointer;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.bottom-bar-ICP {
    position: absolute;
    right: 36px;
    bottom: 36px;

    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    cursor: pointer;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}



@media screen and (max-width:1200px) {
    .center-card {
        top: 24vh;
        width: 75%;
        left: 12.5%;
    }
}

@media screen and (max-width:800px) {
    .center-card {
        top: 14vh;
        width: 90%;
        left: 5%;
    }

    .time-text {
        text-align: center;
        font-size: 24px;
    }

    .percent-text {
        text-align: center;
        font-size: 48px;
    }

    .progress-bar {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 0;
        border-radius: 0;
    }

    .bottom-bar {
        display: none;
    }
}

@keyframes opacity-change {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes top-change {
    0% {
        top: 62vh;
    }

    100% {
        top: 38vh;
    }
}

@font-face {
    font-family: "Barlow-Bold";
    src: url("../fonts/Barlow-Bold.ttf");
}

@font-face {
    font-family: "Barlow-Light";
    src: url("../fonts/Barlow-Light.ttf");
}