:root {
    --font-default: '思源宋体 CN', 'Source Han Serif', serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    display: inline-block;
    /* 横向出现滚动条 */
    min-width: 300px;
    min-height: 450px;
    margin: 0;
    background-color: #F5F5F5;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    display: inline-block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: auto;
    height: 96px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.header-title {
    width: auto;
    height: 18px;
    margin: 8px 8px;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
}

address {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: auto;
    height: 96px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.address-link {
    margin: 2px;
    border-radius: 36px;
    color: black;
    text-decoration: none;

}

.address-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 48px;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.address-icon:hover {
    background-color: rgba(0, 0, 0, .1);
}

main {
    position: relative;
    z-index: 5;
    min-width: 100vw;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    perspective: 1000px;
}

.card {
    position: relative;
    z-index: 1;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0;
    border-radius: 4px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .15);
    background-color: white;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 16px 36px rgba(0, 0, 0, .3);
}

.card-home {
    width: 400px;
    height: 300px;
}

.card-home:hover {
    width: 480px;
    height: 300px;
}

.card-home-image {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.card-home:hover .card-home-image {
    transform: scale(1.1);
}

.card-home-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 480px;
    width: 100%;
    height: 80px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-home-title {
    color: black;
    font-size: 32px;
    font-weight: bold;
    font-family: '思源宋体 CN', 'Source Han Serif', serif;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.card-home-info {
    color: black;
    font-size: 16px;
    font-family: var(--font-default);
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.card-home-button {
    width: 36px;
    height: 36px;
    border: none;
    background-image: url("/image/focus.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
}

.card-notes {
    width: 300px;
    height: 420px;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.card-notes-title {
    width: 100%;
    height: 64px;
    padding: 18px 24px 8px 24px;
    font-size: 22px;
    font-family: var(--font-default);
    font-weight: bold;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
}

.card-notes-title-count {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-family: var(--font-default);
    text-align: center;
}

.card-notes-title-background {
    position: absolute;
    left: 5%;
    top: 66px;
    z-index: -1;
    width: 90%;
    height: 4px;
    background-color: transparent;
}

.card-notes-list {
    width: 100%;
    height: 386px;
    margin: 0;
    padding: 16px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.card-notes-item {
    width: 100%;
    height: 44px;
    padding: 8px 12px 8px 48px;
    font-size: 18px;
    font-family: var(--font-default);
    background-image: url(/image/notes.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 12px 50%;
    overflow: hidden;
    white-space: nowrap;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
    animation: show-text .4s cubic-bezier(0, 0, 0, 1);
}

.card-notes-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.card-notes-link {
    color: black;
    text-decoration: none;
}

.card-works {
    max-width: 800px;
    max-height: 450px;
    width: 72vw;
    height: 40.5vw;
}

.card-works-video {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100vw;
    height: 100vh;
    animation: show-text .4s cubic-bezier(0, 0, 0, 1);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: auto;
    height: 84px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: auto;
    height: 84px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .4s cubic-bezier(0, 0, 0, 1);
}

.nav-link,
.footer-link {
    margin: 0 4px;
    padding: 4px 8px;
    opacity: .3;
    color: black;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 4px;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}

.nav-link:hover,
.footer-link:hover {
    opacity: 1;
}

.tips {
    padding: 16px 24px;
    font-size: 72px;
    font-family: var(--font-default);
    user-select: none;
    -moz-user-select: none;
}

@keyframes show-card {
    from {
        opacity: 0;
        transform: rotate3d(0, 1, 0, 10deg) scale(.90);
    }

    to {
        opacity: 1;
        transform: rotate3d(0, 0, 0) scale(1);
    }
}

@keyframes show-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {

    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    header,
    address,
    nav,
    footer {
        position: absolute;
    }

    main {
        padding: 96px 0 84px 0;
        flex-direction: column;
    }

    .card {
        min-width: 264px;
        min-height: 148.5px;
        width: 88vw;
        margin: 3vw;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    }

    .card-home {
        height: 49.5vw;
    }

    .card-home:hover {
        width: 88vw;
        height: 49.5vw;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
    }

    .card-home-image {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: all .4s cubic-bezier(0, 0, 0, 1);
    }

    .card-home-bar {
        padding: 4vw 5vw;
        display: flex;
        align-items: center;
        min-width: 100%;
        width: 100%;
        height: 16vw;
        background-color: transparent;
    }

    .card-home-title {
        font-size: 6vw;
        font-weight: bold;
    }

    .card-home-info {
        font-size: 3vw;
    }

    .card-home-button {
        right: 4vw;
        bottom: 4vw;
        width: 8.5vw;
        height: 8.5vw;
    }

    .card-notes {
        height: auto;
    }

    .card-notes-list {
        height: auto;
    }

    .card-works {
        width: 88vw;
        height: 49.5vw;
        margin: 0;
    }

    .tips {
        font-size: 48px;
    }

    @keyframes show-card {
        from {
            opacity: 0;
            transform: rotate3d(1, 0, 0, -5deg) scale(.95);
        }

        to {
            opacity: 1;
            transform: rotate3d(0, 0, 0) scale(1);
        }
    }
}

@media screen and (max-width:359px) {
    footer {
        display: none;
    }
}