:root {
    --font-default: 'Noto Serif SC', serif;
    --font-code: 'Consolas', 'Courier New', Courier, monospace, 'Noto Serif SC', serif;
}

* {
    box-sizing: border-box;
    transition: all .3s ease;
}

a {
    color: black;
    text-decoration: none;
}

html,
body {
    min-width: 300px;
    min-height: 450px;
    height: 100%;
    margin: 0;
    background-color: rgba(250, 250, 250, 1);
    overflow-x: hidden;
}

.container {
    position: relative;
    min-height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: auto;
    height: 84px;
    padding: 8px 28px;
    display: flex;
    align-items: center;
}

.header-title {
    border: none;
    font-size: 24px;
    font-family: sans-serif;
    background-color: transparent;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: auto;
    height: 84px;
    padding: 8px 28px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-button {
    height: auto;
    margin: 0 4px;
    padding: 8px 8px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: black;
    font-size: 24px;
    font-family: var(--font-default);
    cursor: pointer;
    outline: none;
}

.current-button {
    border-bottom: 1px solid black;
}

main {
    position: relative;
    z-index: 1;
    min-height: 100%;
    height: auto;
    padding: 84px 8px;
}

address {
    height: 84px;
    display: flex;
    align-items: center;
}

.address-link {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 36px;
}

.address-icon {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(245, 245, 245, 1);
    border-radius: 48px;
    background-color: rgba(245, 245, 245, 1);
}

.address-icon:hover {
    border-color: rgba(224, 224, 224, 1);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 84px;
    padding: 8px 28px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-link-space {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
}

.footer-link {
    margin: 0 4px;
    padding: 4px 8px;
    display: block;
    color: rgba(117, 117, 117, 1);
    background-color: rgba(245, 245, 245, 1);
    border-radius: 4px;
    font-size: 12px;
    font-family: sans-serif;
}

.footer-link:hover {
    color: rgba(66, 66, 66, 1);
    background-color: rgba(224, 224, 224, 1);
}

.directory {
    position: fixed;
    top: 84px;
    left: 0;
    width: auto;
    height: auto;
    padding: 24px;
    animation: opacity-show .3s ease;
}

.directory-link {
    width: fit-content;
    width: -moz-fit-content;
    height: auto;
    margin: 8px;
    display: block;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: var(--font-default);
}

.statistics {
    width: auto;
    margin: 16px auto 0 auto;
    padding: 8px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: var(--font-default);
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.notebook {
    width: 100%;
    max-width: 480px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
}

.notebook-title {
    width: auto;
    height: auto;
    margin: 8px;
    padding: 20px 16px;
    border-radius: 4px;
    font-size: 22px;
    font-family: var(--font-default);
    writing-mode: vertical-lr;
    white-space: nowrap;
    background-color: rgba(245, 245, 245, 1);
    animation: show-text .3s ease;
}

.notebook-list {
    width: 65%;
    height: auto;
    margin: 8px;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 1);
    font-size: 18px;
    font-family: var(--font-default);
}

.note-item {
    padding: 8px 4px 8px 48px;
    background-image: url(/image/notes.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 50%;
    font-family: var(--font-default);
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: opacity-show .3s ease;
}

.note-item:hover {
    background-color: rgba(224, 224, 224, 1);
}


.showcase {
    width: 100%;
    height: auto;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    animation: opacity-show .3s ease;
}

.showcase-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase-title {
    margin: 8px;
    padding: 24px 32px;
    border-radius: 4px;
    font-size: 28px;
    font-family: var(--font-code);
    text-align: center;
    background-color: rgba(245, 245, 245, 1);
}

.repo-data {
    position: relative;
    width: 100%;
    padding: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.repo-update {
    padding: 2px 8px;
    font-size: 16px;
    font-family: var(--font-code);
}

.showcase-description {
    margin: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--font-default);
    background-color: rgba(245, 245, 245, 1);
}

.showcase-link:hover .showcase-title,
.showcase-link:hover .showcase-description {
    background-color: rgba(224, 224, 224, 1);
}

#works-directory .directory-link {
    font-family: var(--font-code);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    animation: opacity-show .3s ease;
}

.loading-animation {
    position: relative;
    width: 48px;
    height: 48px;
    border: 3px solid rgba(224, 224, 224, 1);
    border-top-color: black;
    border-radius: 50%;
    animation: loading-rotate 1s linear infinite;
}

@keyframes loading-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .footer-link:nth-last-child(1) {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(250, 250, 250, .9);
    }
}

@media screen and (max-width: 720px) {
    .directory {
        display: none !important;
    }
}