* {
    box-sizing: border-box;
}

html,
body {
    display: inline-block;
    height: auto;
    min-width: 300px;
    margin: 0;
    background-color: #F5F5F5;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 108px;
    padding: 8px 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    margin: 8px;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.link-home {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    padding: 16px;
    align-items: center;
    background-color: #F5F5F5;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-fixed-400,
.card-normal {
    position: relative;
    display: flex;
    width: 80vmin;
    height: calc(45vmin + 48px);
    max-width: 1280px;
    max-height: 768px;
    margin: 12px;
    border-radius: 4px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .15);
    background-color: white;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}

.card-fixed-400:hover,
.card-normal:hover {
    box-shadow: 0 16px 36px rgba(0, 0, 0, .3);
}

.card-fixed-400 {
    width: 400px;
} {
    width: 240px;
}

.card-fixed-400 .card-content{
    overflow: auto;
}

.card-title {
    position: relative;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    z-index: 10;
}

.card-title-text-left,
.card-title-text-right {
    margin: 0 8px;
    padding: 4px 8px;
    font-size: 20px;
    font-family: '思源宋体 CN', 'Source Han Serif', serif;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.card-title-text-left {
    font-size: 16px;
    background-color: #F5F5F5;
}

.card-content {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 48px);
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    background-color: white;
    font-family: '思源宋体 CN', 'Source Han Serif', serif;
}

.card-video {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card-background {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 180px;
    pointer-events: none;
}

.text-404 {
    margin: 24px;
    color: black;
    font-size: 14vmin;
    font-family: '思源宋体 CN', 'Source Han Serif', serif;
}

article {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 24px 24px 24px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    font-family: '思源宋体 CN', 'Source Han Serif', serif;
}

h1,
h2 {
    margin: 24px 0 18px 0;
    font-size: 16px;
}

p {
    font-size: 16px;
}

a {
    margin: 4px;
    padding: 8px 16px;
    background-color: #F5F5F5;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}

a:hover {
    background-color: #EEEEEE;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 84px;
    padding: 8px 24px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.footer-link {
    margin: 0 8px;
    padding: 4px 8px;
    opacity: .3;
    color: black;
    background-color: transparent;
    font-size: 12px;
    text-decoration: none;
    transition: .3s ease-in-out;
    user-select: none;
    -moz-user-select: none;
}

.footer-link:hover {
    opacity: 1;
    background-color: transparent;
}

@media screen and (max-width:480px) {

    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    header,
    footer {
        justify-content: center;
    }

    main {
        padding: 96px 0 84px 0;
        flex-direction: column;
    }

    .card-fixed-400,
    .card-normal {
        width: 92vw;
        height: calc(51.75vw + 48px);
        margin: 12px 0;
    }

    .card-fixed-400 {
        height: auto;
    }

    .card-content {
        height: auto;
    }

    .card-background {
        width: 160px;
    }
}

@keyframes bg-change {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}