* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,body
{
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
}

.container
{
    position: relative;
    min-height: 100%;
    min-width: 480px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 72px;
}

.topBar
{
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    animation: display1 0.5s;
}

.global
{
    margin: 0 36px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #BDBDBD;
}

.topic
{
    margin: 72px;
    font-size: 96px;
    font-family: '思源宋体 CN',serif;
    font-weight: thin;
    color: #212121;
    animation: display1 0.5s;
}

.iconBar
{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: display1 0.5s;
}

.icon
{
    width: auto;
    height: 24px;
    margin: 36px;
}

.linkBar
{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: display2 0.6s;
}

.link,.text
{
    width: auto;
    padding: 48px;
    font-size: 24px;
    font-family: '思源宋体 CN',serif;
    color: #212121;
    text-decoration: none;
    transition: margin 0.5s ease-in-out;
}

.Separator
{
    width: auto;
    font-size: 12px;
    font-family: serif;
    font-weight: thin;
    color: #212121;
}


.link:hover
{
    margin: 0 24px;
}

.bottomBar
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 72px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: display2 0.8s;
}

.logo
{
    width: 24px;
    height: 24px;
    margin: 0 24px 0 0;
    border-radius: 24px;
    transition: box-shadow 0.2s ease-in-out;
}

.logo:hover,.logo:active
{
    box-shadow: 0 0 24px #BDBDBD;
}

.title
{
    display: inherit;
    margin: 0 36px;
    font-size: 18px;
    font-family: sans-serif;
    color: #212121;
}

.icp
{
    margin: 0 36px;
    font-size: 12px;
    font-family: sans-serif;
    color: #212121;
    opacity: 0.2;
    text-decoration: none;
}

.notFound1
{
    margin: 12px;
    font-size: 96px;
    color: #212121;
    animation: display1 1s;
}

.notFound2
{
    font-size: 24px;
    color: #212121;
    animation: display1 1s;
}

@keyframes display1
{
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes display2
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}