html,
body {
    min-height: 600px;
}
.music-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 240px;
    min-height: 240px;
    width: 70vw;
    height: 70vw;
    max-width: 480px;
    max-height: 480px;

    background-color: black;
    border-radius: 360px;
    box-shadow: 0 0 80px rgba(117, 117, 117, 1);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    animation: opacity-change 1s;
}


.in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 50%;

    background-image: url("../image/cover/潮鳴り.jpg");
    background-size: 100%;
    background-color: rgba(183, 28, 28, 1);
    border-radius: 360px;
    box-shadow: 0 0 8px black;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.in-box-point {
    width: 8px;
    height: 8px;

    border-radius: 8px;
    box-shadow: 0 0 4px rgba(33, 33, 33, 1);
    background-color: black;
}

.music-control {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5vw;
    height: 5vw;
    max-width: 96px;
    max-height: 96px;

    outline: none;
    border: 0;
    border-radius: 360px;
    background-image: url("../image/icon/play0.png");
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.box-image {
    z-index: 100;

    width: 100%;
    height: 100%;

    border-radius: 360px;
    user-select: none;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.left-box,
.right-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 12vw;
    margin: 24px;

    text-align: center;
    font-size: 3vw;
    font-family: '思源宋体 CN', 'Times New Roman', Times, serif;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    animation: opacity-change 2s;
}

.title-text {
    font-size: 3vw;
}

.author-text {
    font-size: 2vw;
    margin: 8px;
}

@media screen and (max-width:800px) {

    html,
    body {
        min-height: 600px;
    }

    .container {
        padding: 40px 0;
        flex-direction: column;
    }

    .music-box {
        max-width: 300px;
        max-height: 300px;
    }

    .left-box,
    .right-box {
        width: 20vh;
        margin: 0;
    }

    .title-text {
        font-size: 5vh;
    }

    .author-text {
        font-size: 2vh;
    }

    .music-control {
        width: 8vh;
        height: 8vh;
        max-width: 96px;
        max-height: 96px;
    }
}

@keyframes opacity-change {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}