html,body
{
    min-width: 680px;
    background-color: #ECEFF1;
    height: 100%;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main
{
    height: 600px;
    padding-bottom: 150px;
}
footer
{
    height: 76px;
    padding: 12px 24px;
    background-color: white;
    box-shadow: 0 0 10px #607D8B;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.foot_link
{
    font-size: 32px;
}

.container
{
    position: relative;
    min-height: 100%;
}