* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,body
{
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
}

.container
{
    position: relative;
    min-height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topic
{
    margin: 72px;
    font-size: 96px;
    font-family: serif;
    font-weight: thin;
    color: #212121;
}

.iconBar
{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.icon
{
    width: auto;
    height: 24px;
    margin: 36px;
}

.linkBar
{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.link
{
    width: auto;
    margin: 24px;
    font-size: 24px;
    font-family: serif;
    font-weight: thin;
    color: #212121;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.link:hover
{
    margin: 0 48px;
}

.Separator
{
    width: auto;
    margin: 0 12px;
    font-size: 12px;
    font-family: serif;
    font-weight: thin;
    color: #212121;
}

.lastBar
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 72px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo
{
    width: 24px;
    height: 24px;
    margin: 0 24px 0 0;
    border-radius: 24px;
}

.title
{
    display: inherit;
    margin: 0 36px;
    font-size: 18px;
    font-family: sans-serif;
    color: #212121;
}

.icp
{
    margin: 0 36px;
    font-size: 12px;
    font-family: sans-serif;
    color: #212121;
    opacity: 0.2;
    text-decoration: none;
}

.notFound1
{
    margin: 12px;
    font-size: 96px;
    font-family: serif;
    color: #212121;
}

.notFound2
{
    font-size: 24px;
    font-family: serif;
    color: #212121;
}

