header
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
    text-align: center;
}
main
{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
footer
{
    font-size: 10px;
    position: fixed;
    bottom: 0px;
}


