* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    perspective: 1000px;
}

/* --- Top Bar --- */

.top-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 96px;
    padding: 36px;
}

.top-button {
    position: absolute;
    top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
    user-select: none;
    -moz-user-select: none;
}

.top-button-image {
    width: 24px;
    height: 24px;
}

#theme {
    left: 36px;
    z-index: 20;
}

#me {
    right: 96px;
    z-index: 18;
}

#more {
    right: 36px;
    z-index: 20;
}

.theme-card,
.me-card,
.more-card {
    position: absolute;
    top: 28px;

    width: 40px;
    height: 40px;
    padding: 0 8px;

    opacity: 0;
    border-radius: 8px;
    background-color: white;
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.theme-card {
    left: 28px;
    z-index: 16;
}

.me-card {
    right: 88px;
    z-index: 17;
}

.more-card {
    right: 28px;
    z-index: 19;
}

.theme-card-title,
.me-card-title,
.more-card-title {
    position: relative;
    display: none;
    align-items: center;

    width: 92px;
    height: 40px;
    padding: 8px;

    opacity: 0;
    text-align: center;
    font-size: 18px;
    font-family: "Barlow-Bold", sans-serif;
    font-weight: bolder;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.theme-card-title {
    text-align: right;
}

.theme-card-item,
.me-card-item,
.more-card-item {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

    width: 92px;
    height: 48px;

    opacity: 0;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}


.card-item-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0 12px;

    border: 0;

    text-decoration: none;
    font-size: 16px;
    font-family: "Barlow-Light", sans-serif;
    font-weight: lighter;
    color: black;

    background-color: transparent;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

#whiteTheme,
#blackTheme {
    justify-content: flex-end;
}

.card-item-link:hover {
    background-color: rgba(224, 224, 224, 1);
}

.white-theme-color,
.black-theme-color {
    position: absolute;
    top: 12px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border: solid 1px rgba(224, 224, 224, 1);
    border-radius: 36px;
}

.white-theme-color {
    background-color: white;
}

.black-theme-color {
    background-color: black;
}

.theme-check {
    width: 16px;
    height: 16px;
}



/* --- Bottom Bar --- */

.bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 96px;
    padding: 36px;
}

.bottom-bar-title {
    position: absolute;
    left: 36px;
    bottom: 28px;

    border-radius: 4px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;

    cursor: pointer;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.bottom-bar-about {
    position: absolute;
    right: 168px;
    bottom: 36px;

    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;

    cursor: pointer;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.bottom-bar-ICP {
    position: absolute;
    right: 36px;
    bottom: 36px;

    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;

    cursor: pointer;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    user-select: none;
    -moz-user-select: none;
}

.about-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.about-card {
    position: relative;

    width: 90%;
    max-width: 400px;
    height: 196px;

    opacity: 0;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(22, 22, 22, 1);
    background-color: white;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.about-title {
    position: relative;
    margin: 16px;

    font-size: 16px;
    font-family: "Barlow-Bold", sans-serif;
    font-weight: bolder;

    user-select: none;
    -moz-user-select: none;
}

.about-close-button {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    border: 0;
    background-color: white;
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    outline: none;
    user-select: none;
    -moz-user-select: none;
}

.about-close-button:hover {
    background-color: rgba(224, 224, 224, 1);
}

.about-close-image {
    width: 100%;
    height: 100%;
}

.about-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-logo {
    position: relative;
    width: 72px;
    height: 72px;
    margin: 24px 16px;

    border-radius: 4px;
    box-shadow: 0 0 40px rgba(224, 224, 224, 1);
}

.about-text {
    position: relative;
    margin: 24px 16px;

    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
}

/* --- Error --- */

.error-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 150px;
    font-family: "Barlow-Bold", sans-serif;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

/* --- Home --- */

.time-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 66vh;
    min-width: 400px;
    min-height: 400px;

    background-color: white;
    box-shadow: 0 0 48px rgba(224, 224, 224, 1);
    border-top: solid 16px white;
    border-bottom: solid 16px white;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    /* animation: opacity-change 1s; */
}

.time-text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 24px 36px;

    opacity: 0;
    text-align: left;
    font-size: 36px;
    font-family: "Barlow-Bold", sans-serif;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 0;
    height: 100%;

    box-shadow: inset 0px 0 24px rgba(224, 224, 224, 1);

    background-color: rgba(255, 255, 0, 1);
    transition: all 3s cubic-bezier(.25, .8, .25, 1);
}

.time-card-text {
    z-index: 1;

    border-radius: inherit;
    color: rgba(238, 238, 238, 1);
    font-size: 150px;
    font-family: "Barlow-Bold", sans-serif;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.percent-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    padding: 24px 48px;

    opacity: 0;
    text-align: right;
    font-size: 60px;
    font-family: "Barlow-Bold", sans-serif;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
}





/* --- Music --- */
.music-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    perspective: 1000px;
}

.music-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 240px;
    min-height: 240px;
    width: 70vw;
    height: 70vw;
    max-width: 480px;
    max-height: 480px;

    background-color: black;
    border-radius: 360px;
    box-shadow: 0 0 80px rgba(117, 117, 117, 1);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    animation: opacity-change 1s;
}


.music-in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 50%;

    background-image: url("/source/image/cover/潮鳴り.jpg");
    background-size: 100%;
    background-color: rgba(183, 28, 28, 1);
    border-radius: 360px;
    box-shadow: 0 0 8px black;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}


.music-control {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7vw;
    height: 7vw;

    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 360px;
    background-image: url("/source/image/icon/playB.png");
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s cubic-bezier(.25, .8, .25, 1);
}

.music-left-box,
.music-right-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 12vw;
    margin: 24px;

    text-align: center;
    font-size: 3vw;
    font-family: '思源宋体 CN', serif;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    white-space: nowrap;
    animation: opacity-change 2s;
}

.music-title-text {
    font-size: 3vw;
}

.music-author-text {
    font-size: 2vw;
    margin: 8px;
}




/* --- Video --- */

.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    perspective: 1000px;
}

.video-box {
    width: 64vw;
    height: 36vw;
    z-index: 10;

    border-radius: 8px;
    border: 0;
    outline: none;
    box-shadow: 0 0 80px rgba(117, 117, 117, 1);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    animation: opacity-change 1s;
}

.video-player {
    width: 100%;
    height: 100%;
    z-index: 11;

    border-radius: 8px;
    border: 0;
    outline: none;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.video-background {
    position: absolute;
    ;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 0;

    background-color: rgba(22, 22, 22, 1);
    transition: all 3s cubic-bezier(.25, .8, .25, 1);
}





/* --- At --- */

@media screen and (max-width:800px) {


    /* --- Home --- */

    .time-text {
        text-align: center;
        font-size: 24px;
    }

    .percent-text {
        text-align: center;
        font-size: 48px;
    }

    /* --- Music --- */

    .music-container {
        padding: 40px 0;
        flex-direction: column;
    }

    .music-box {
        max-width: 300px;
        max-height: 300px;
    }

    .music-left-box,
    .music-right-box {
        width: 20vh;
        margin: 0;
    }

    .music-right-box {
        margin: 12px 0 24px 0;
    }

    .music-title-text {
        font-size: 5vh;
    }

    .music-author-text {
        font-size: 2vh;
    }

    .music-control {
        width: 8vh;
        height: 8vh;
    }


    /* --- Video --- */

    .video-box {
        width: 100vw;
        height: 56.25vw;

        border-radius: 0;
    }

    .video-player {
        border-radius: 0;
    }


}

@keyframes opacity-change {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes top-change {
    0% {
        top: 62vh;
    }

    100% {
        top: 38vh;
    }
}

@font-face {
    font-family: "Barlow-Bold";
    src: url("/source/fonts/Barlow-Bold.ttf");
}

@font-face {
    font-family: "Barlow-Light";
    src: url("/source/fonts/Barlow-Light.ttf");
}

@font-face {
    font-family: "SourceHanSansCN-Bold";
    src: url("/source/fonts/sourceHanSansCN-Bold.woff");
}

@font-face {
    font-family: "SourceHanSansCN-Light";
    src: url("/source/fonts/sourceHanSansCN-Light.woff");
}